@font-face {
    font-family: 'Vazir';
    src: url('./fonts/Vazir.eot');
    src: url('./fonts/Vazir.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Vazir.woff2') format('woff2'),
        url('./fonts/Vazir.woff') format('woff'),
        url('./fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tanha';
    src: url('./fonts/Tanha-FD.eot');
    src: url('./fonts/Tanha-FD.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Tanha-FD.woff2') format('woff2'),
        url('./fonts/Tanha-FD.woff') format('woff'),
        url('./fonts/Tanha-FD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html * {

    font-family: Tanha, Vazir, Tahoma !important;
}

body {
    margin: 0;
    padding: 0;
}